.announcement{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.announcement > h3{
    border-bottom: solid #015737 2px;
    padding: 0px 20px;
    padding-bottom: 20px;
}

.bar-left, .bar-right{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
}

.bar{
    width: 65%;
    height: 275px;
    background-size: cover;
    background-position: center;
    transition: 0.4s;
}

.bar:hover{
    box-shadow: inset 0px 0px 30px 10px rgba(255,255,255,1)
}

.bar .overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.40);
    color: white;
}

.bar-left .bar .overlay{
    justify-content: flex-end;
}

.bar .overlay .text{
    font-size: 3vw;
}

.bar-right .bar .overlay .text, .bar-left .bar .overlay .arrow{
    margin: 0px 20px;
}

.bar .overlay .arrow{
    text-decoration: none;
    color: white;
    font-size: 2vw;
    font-weight: bold;
    padding: 10px;
    border-radius: 100%;
    background-color:rgb(0, 0, 0, 0.60);
    height: 2vw;
    width: 2vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.bar .overlay:hover .arrow{
    transition: 0s;
    visibility: visible;
}

.bar .overlay .arrow:hover{
    box-shadow: inset 0px 0px 50px 10px rgba(255,255,255,0.5);
}

.bar-left .icon-container, .bar-right .icon-container{
    width: 35%;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-left > .bar{
    left: 0;
}

.bar-right > .bar{
    right: 0;
}




