.header{
    height:500px;
    width:1920px;
}

.main{
    padding-top:80px;
    padding-left:170px;
    padding-right:170px;
}
.main> .topintro{
    display:grid;
    grid-template-columns:2fr;
    column-gap:20px;
}

.main > .topintro > .headertxt{
    width: 300px;
    color:#015737;
    border-bottom: solid 2px #015737;
    padding-left:10px;


}
.main > .topintro > .maintxt{
    padding-top:65px;
    line-height: 1.6em;
    width: 600px;
    grid-column:1;
}
.main > .topintro > .image{
    background-image:url(../images/lady-justice-resized.jpg);
    border: 1px solid;
    padding: 10px;
    box-shadow: inset 0px -20px 40px black;
    grid-column:2;
    width:500px;
    height:600px;
}

.main >.topintro>.second-header{
    width: 470px;
    color:#015737;
    border-bottom: solid 2px #015737;
    height:80px;
    padding-left:10px;
    margin-top:-200px;
    grid-column:1;
    
}
.main > .topintro> .second{  
    margin-top:-25px; 
    line-height: 1.6em;
    grid-column:1;
}
.bottom{
    padding-top:100px;
    padding-left:170px;
    padding-right:170px;
}

.bottom >.bottom-header{
    padding-left:0px;
    color:#015737;
    padding-bottom:0px;
    border-bottom: solid 2px #015737;
    width:400px;
}
.bottom>.bottom-main{
    padding-top:30px;
    line-height: 1.6em;
    padding-bottom:150px;
}